@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
TABLE OF CONTENTS:
------------------------------------------*/

/*-------------------
1.0	SETTINGS
---------------------*/

/*-------------------
2.0	TOOLS
---------------------*/

/*-------------------
3.0	GENERIC
---------------------*/

/*-------------------
4.0	ELEMENTS
---------------------*/
/*---FORMS---*/
/*---LISTS---*/
/*---MEDIA---*/
/*---TABLES---*/
/*---TYPOGRAPHY---*/

/*-------------------------
5.0	OBJECTS
---------------------------*/
/*---FRAMEWORK---*/

/*-------------------------
6.0	COMPONENTS
---------------------------*/
/*---BUTTONS---*/
/*---HEADER---*/
/*---NAVIGATION---*/

/*-------------------------
7.0	UTILITIES
---------------------------*/
/*---ALIGNMENT---*/
/*---COLORS---*/
/*---SIZE---*/








/*-------------------
3.0	GENERIC
---------------------*/

* {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*-------------------
4.0	ELEMENTS
---------------------*/


/*---FORMS---*/


form {
	display: inline-block;
	margin-top: 15px;
}

input {
	margin-left: 20px;
}

label {
	display: none;
}

select {
	width: 165px;
	margin-left: 10px;
}

#domain-name {
	width: 430px;
	padding: 20px;
}



/*---LISTS---*/

.col-feat ul {
	list-style-type: none;
}

.col-1-4 ul {
	list-style-type: none;
}

.col-1-4 a {
	color: #909aad;
}


/*---MEDIA---*/

#bg-hero {
	background: url("../img/hero.jpg") no-repeat left;
	padding: 359px 0 100px;
}


/*---TABLES---*/

caption {
	display: none;
}

table {
	margin: 0 auto;
	text-align: center;
}

tbody {
	font: 14px 'Open Sans', sans-serif;
	color: #8d9198;
}

tbody tr:first-child {
	font: 900 14px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #52cbf8;
}

tbody tr:first-child td {
	padding: 10px 20px;
}

td {
	padding: 10px 0;
}

tfoot {
	font: 900 14px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #ff8261;
}

th {
	font: 14px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

th span {
	font: 900 50px 'Open Sans', sans-serif;
	color: #556b72;
	line-height: 0px;
}

/*---TYPOGRAPHY---*/

body {
	font-family: 'Open Sans', sans-serif;
}

#benefits p, .col-feat li {
	font: 13.5px 'Open Sans', sans-serif;
	color: #556b72;
}

#bg-hero p {
	font: 600 40px/20px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

#bg-hero span {
	font: 100 20px 'Open Sans', sans-serif;
}

#bg-hero p, h4 {
	color: #fff;
}

#bg-wht {
	text-align: center;
}

#bg-wht p {
	margin: 0px;
}

#bg-wht p:first-child, #bg-wht:last-child {
	font: 18px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #4c515b
}

#bg-wht p:nth-child(2) {
	font: 900 60px 'Open Sans', sans-serif;
}

footer nav, footer p {
	font: 14px 'Open Sans', sans-serif;
	color:  #a0a9b6;
}

#top-nav {
	font: 14px 'Open Sans', sans-serif;
}

#bot-nav {
	font: 13px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

#top-nav {
	color: #a0a9b6;
}




/*-------------------------
5.0	OBJECTS
---------------------------*/

#benefits .row {
	margin: 20px 0 30px;
}

#bg-wht {
	width: 360px;
}

.col-1-2:last-child {
	margin-left: 100px;
}

.col-1-3 {
	float: left;
	width: 350px;
}

.col-1-3 header {
	float: right;
	width: 240px;
}

.col-1-3:nth-child(2) {
	margin-left: 35px;
}

.col-1-3 img, .col-1-2, .col-feat, header img, .col-1-4, .col-links, #domain header {
	float: left;
}

.col-1-4 {
	margin-left: 110px;
}

.col-1-4:first-child {
	margin-left: 0px;
	padding-top: 40px;
}

.col-feat:last-child {
	margin-left: 60px;
}


#domain {
	padding: 30px 0px;
}


footer, #hosting, #hot {
	padding: 50px 0;
}

#hot ul {
	margin-top: 0px;
	padding: 0px;
}

#hot li {
	margin-bottom: 20px;
}
#top-nav, #btn-srch, .col-1-3:last-child, #social {
	float: right;
}




/*-------------------------
6.0	COMPONENTS
---------------------------*/


/*---BUTTONS---*/

#btn-srch {
	margin-top: 20px;
}

#btn-srch a, #hot a {
	background-color: #ff8261;
	padding: 10px 70px;
	font: 700 13.5px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

#btn-srch a:hover, #hot a:hover {
	background-color: #52cbf8;
}


/*---HEADER---*/

#bg-hero p {
	text-align: center;
}

h2 {
	font: 18px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #556b72;
}

h2 b {
	font: 900 30px/25px 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
}

h3 {
	font: 900 16px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #556b72;
	margin-top: 0px;
}

h4 {
	font: 900 14px 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: #fff;
}



/*---NAVIGATION---*/

footer nav li

header nav {
	text-align: center;
}

header nav li, #social li {
	display: inline-block;
}

footer nav ul, header nav ul {
	padding: 0px;
}

nav li a {
	text-decoration: none;
}

#bot-nav ul {
	margin-bottom: 0px;
}

#bot-nav a {
	background-color: #ff8261;
	padding: 10px 25.5px;
}

#bot-nav a:hover {
	background-color: #52cbf8;
}

#bot-nav a {
	color: #fff;
}






/*-------------------------
7.0	UTILITIES
---------------------------*/

/*---ALIGNMENT---*/

.wrapper {
	margin: 0 auto;
	width: 1140px;
}

.row {
	overflow: auto;
}





/*---COLORS---*/

#domain {
	background-color: #e7f4f8;
}

#hot {
	background-color: #fffbde;
}

#bg-wht {
	background-color: #fff;
}

footer {
	background-color: #4c515b;
}
