@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
TABLE OF CONTENTS:
------------------------------------------*/

/*-------------------
1.0	SETTINGS
---------------------*/

/*-------------------
2.0	TOOLS
---------------------*/

/*-------------------
3.0	GENERIC
---------------------*/

/*-------------------
4.0	ELEMENTS
---------------------*/
/*---FORMS---*/
/*---LISTS---*/
/*---MEDIA---*/
/*---TABLES---*/
/*---TYPOGRAPHY---*/

/*-------------------------
5.0	OBJECTS
---------------------------*/
/*---FRAMEWORK---*/

/*-------------------------
6.0	COMPONENTS
---------------------------*/
/*---BUTTONS---*/
/*---HEADER---*/
/*---NAVIGATION---*/

/*-------------------------
7.0	UTILITIES
---------------------------*/
/*---ALIGNMENT---*/
/*---COLORS---*/
/*---SIZE---*/



/*-------------------
3.0	GENERIC
---------------------*/

* {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



/*-------------------------
7.0	UTILITIES
---------------------------*/

/*---ALIGNMENT---*/

.wrapper {
	margin: 0 auto;
	width: 1140px;
}

.row {
	overflow: auto;
}

.col-1-3 {
	float: left;
	width: 350px;
}

.col-1-3 img {
	float: left;
}

.col-1-3 header {
	width: 240px;
}


/*---COLORS---*/

#domain {
	background-color: #e7f4f8;
}

#hot {
	background-color: #fffbde;
}

#bg-wht {
	background-color: #fff;
}
