@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
TABLE OF CONTENTS:
------------------------------------------*/

/*-------------------
1.0	SETTINGS
---------------------*/

/*-------------------
2.0	TOOLS
---------------------*/

/*-------------------
3.0	GENERIC
---------------------*/

/*-------------------
4.0	ELEMENTS
---------------------*/
/*---FORMS---*/
/*---LISTS---*/
/*---MEDIA---*/
/*---TABLES---*/
/*---TYPOGRAPHY---*/

/*-------------------------
5.0	OBJECTS
---------------------------*/
/*---FRAMEWORK---*/

/*-------------------------
6.0	COMPONENTS
---------------------------*/
/*---BUTTONS---*/
/*---HEADER---*/
/*---NAVIGATION---*/

/*-------------------------
7.0	UTILITIES
---------------------------*/
/*---ALIGNMENT---*/
/*---COLORS---*/
/*---SIZE---*/



/*-------------------
3.0	GENERIC
---------------------*/

* {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*-------------------
4.0	ELEMENTS
---------------------*/


/*---FORMS---*/

label {
	display: none;
}

#domain-name {
	width: 430px;
	padding: 20px;
}

select {
	width: 165px;
}



/*---LISTS---*/

.col-feat ul {
	list-style-type: none;
}

.col-1-4 ul {
	list-style-type: none;
}

.col-1-4 a {
	color: #909aad;
}


/*---MEDIA---*/

#bg-hero {
	background: url("../img/hero.jpg"), no-repeat, center;
}


/*---TABLES---*/


/*---TYPOGRAPHY---*/

body {
	font-family: 'Open Sans', sans-serif;
}

#bg-hero p, h4 {
	color: #fff;
}




/*-------------------------
5.0	OBJECTS
---------------------------*/

#bg-wht {
	width: 360px;
}


/*-------------------------
6.0	COMPONENTS
---------------------------*/


/*---BUTTONS---*/


/*---HEADER---*/


/*---NAVIGATION---*/

header nav li, #social li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
}

header nav {
	text-align: center;
}

#bot-nav li {
	background-color: #ff8261;
}

#bot-nav a {
	color: #fff;
}




/*-------------------------
7.0	UTILITIES
---------------------------*/

/*---ALIGNMENT---*/

.wrapper {
	margin: 0 auto;
	width: 1140px;
}

.row {
	overflow: auto;
}

.col-1-3 {
	float: left;
	width: 350px;
}

.col-1-3 img, .col-1-2, .col-feat, header img, .col-1-4, .col-links, #domain header {
	float: left;
}

#top-nav {
	float: right;
}

.col-1-3 header {
	float: right;
	width: 240px;
}



/*---COLORS---*/

#domain {
	background-color: #e7f4f8;
}

#hot {
	background-color: #fffbde;
}

#bg-wht {
	background-color: #fff;
}

footer {
	background-color: #4c515b;
}
